/* img */

.slider{
    width: 100%;
    height: 480px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.slider-item{
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 0;
    opacity: 0;
    position: absolute;
    transition:all 0.5s ease-in-out;
    transform: scale(0.9);
}


.main_pic {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.showing{
    z-index: 1;
    opacity: 1;
    transform: none;
}

.message {
    position: relative;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    color:#333232d5
}

