/* Background Effects */
.background { 
    animation: fadein 1.5s;
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

/* What I did List */
.wrapper {
    position: relative;
    width: 25%;
    height: 480px;
    float: left;
    text-align: center;
    padding-top: 100px;
}

.container {
    position: relative;
    height: auto;
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }

.image {
    display: block;
    width: 80%;
    height: auto;
    margin: auto;
    border-radius: 20%;
    overflow: auto;
    object-fit: fill;
    text-align: center;
    background-size: cover;
    box-shadow: 1px 1px 3px 1px #dadce0;
}

.image:hover{
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3); 
}

h3 {
    color: rgb(16, 60, 16);
}

/*특정 값에 밑줄 */
.half_HL {
    background: linear-gradient(to top, #FFE400 50%, transparent 50%);
}
  
p {
    color:#333232d5;
    font-size: 13.5px;
    text-align: center;
    line-height: 200%;
}

.wrapper h5 {
    color: #333232;
    padding-top: 20px;
}

