/* Header */

#header {
    text-align: center;
    font-family: Helvetica Neue,Helvetica,Arial,メイリオ,meiryo,ヒラギノ角ゴ pro w3,hiragino kaku gothic;
    font-weight:light;
    color:#20303c;
}

a {
    text-decoration: none;
    color:#333232d5;
}

/* menu bar */

.menu li {
    margin: 35px;
}

.menu li a {
    color: #333232;
    text-decoration: none;
}

.menu li a:hover {
    text-decoration: underline;
    text-decoration-color:gray;
    text-decoration-thickness: 1.5px;
}

.menu * {
    display: inline;
}

.menu ul {
    padding-left: 0px;
}

.menu {
    font-size: 20px;
    font-style: italic;
    text-align: center;
    align-items: center;
    padding-top: 30px;
}

