/* Background Effects */
body{
    font-family: Helvetica Neue,Helvetica,Arial,メイリオ,meiryo,ヒラギノ角ゴ pro w3,hiragino kaku gothic;
    color:#20303c;
    background-color:#f9fafa;
}

.background { 
    animation: fadein 1.5s;
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

/* What I did List */
.wrapper {
    position: relative;
    width: 50%;
    height: auto;
    float: left;
    text-align: center;
    padding-top: 100px;
}

.container {
    position: relative;
    height: auto;
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }

.image {
    display: block;
    width: 70%;
    height: 300px;
    margin: auto;
    border-radius: 20%;
    overflow: auto;
    object-fit: fill;
    text-align: center;
    background-size: cover;
    box-shadow: 1px 1px 3px 1px #dadce0;
}


h3 {
    font-size: 22px;
}

/*특정 값에 밑줄 */
.half_HL {
    background: linear-gradient(to top, #FFE400 50%, transparent 50%);
}
  
p {
    font-size: 16px;
    text-align: center;
    line-height: 200%;
}

.wrapper h5 {
    font-size: 18px;
    padding-top: 20px;
}

